In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timedelta, date, datetime
from scipy.stats import gaussian_kde
from sklearn.linear_model import LinearRegression
from scipy import stats
from scipy.stats import ttest_rel

,TABLA,TRADE_DATE_BEGIN,TRADE_DATE_END,MODIFIED_DATE,VAL001,VAL002,VAL003,VAL004,VAL005,VAL006,...,VAL015,VAL016,VAL017,VAL018,VAL019,VAL020,VAL021,VAL022,VAL023,VAL024
VARIABLE_NAME,,,,,,,,,,,,,,,,,,,,,
GReal_TG_TRGC_E_DC_m,CALCULATION_OUTPUT_DATA,2020-08-01,2020-08-31,2021-07-14 16:58:47,5.294906e+09,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
for i in range(len(dfs)):
    if dfs[0].VAL002.values != 0:
        dfs[0].T.iloc[4::].sum().T

# PUNTO 1

# PUNTO 2

# PUNTO 3

# PUNTO 4

# PUNTO 5